.nav{
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.header{
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 68px;
    flex-wrap: nowrap;
    padding: 0 60px;
    z-index: 500;
}

