* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #141414;
  color: white;
}

main {
  flex: 1;
}

/* ===== HEADER ===== */
header {
  width: 100%;
  height: 68px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0));
  background-color: transparent;
  transition: background-color 0.4s ease;
}

/* ===== NAV ===== */
nav {
  width: 100%;
  height: 100%;
  padding: 0 60px;
  

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ===== LEFT ===== */
.nav-left {
  display: flex;
  
}

.netflix-icon {
  width: 92px;
  cursor: pointer;
}

/* ===== CENTER ===== */
.nav-center {
    flex-grow: 1;
}

.nav-center ul {
  list-style: none;
  display: flex;
  gap: 16px;
  margin-left: 50px;
}

.nav-center a {
  text-decoration: none;
  color: #e5e5e5;
  transition: color 0.5s ease;
  font-size: 14px;
}

.nav-center a:hover {
  color: gray;
}

/* ===== RIGHT ===== */
.nav-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

/* 검색 버튼 */
.search-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.search-icon {
  width: 18px;
}

/* 키즈 */
.kids-links {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

/* 알림 */
.notification-icon {
  width: 18px;
  cursor: pointer;
}

/* 프로필 */
.profile-menu {
  position: relative;
}

.profile-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.profile-btn img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.arrow {
  font-size: 10px;
}

/* ===== FOOTER ===== */
footer {
    background-color: #141414; /* 넷플릭스 배경색 */
    color: #808080; /* 회색 텍스트 */
    padding: 70px 4% 20px;
    font-size: 13px;
}

.footer-container {
    max-width: 980px;
    margin: 0 auto;
}

.social-links {
    margin-bottom: 25px;
    display: flex;
    gap: 20px;
}

.social-links img {
    width: 25px;
    filter: invert(0.5); /* 아이콘을 회색빛으로 만듭니다 */
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4열 배치 */
    list-style: none;
    gap: 12px;
    margin-bottom: 30px;
}

.footer-links a {
    color: #808080;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-info {
    font-size: 11px;
    line-height: 1.6;
}

.footer-info p {
    margin-bottom: 2px;
}