.main{
    margin-top: 68px;
    
}

.nav{
    display: flex;
    flex-direction: column;
    gap: 30px;

}



.header{
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    height: 68px;
    padding: 0 60px;
    z-index: 2000;
}

.selects{
    height: 80%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.select{
    position: relative;
    background-color: var(--black-color);
    color: var(--white-color);
    height: auto;
    border: 1px solid var(--white-color);
    height: calc(25px);
    flex-wrap: nowrap;

}

.vedios{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 45px 8px;
}









@media (min-width: 400px) {
    .vedios {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 700px) {
    .vedios {
        grid-template-columns: repeat(4, 1fr); 
    }
}

@media (max-width: 950px) {
    .header{
        flex-direction: column;
        align-items: flex-start;

    }
    .selects{
        margin-left: 0;
        margin-top: 10px;
    }

}

@media (min-width: 1000px) {
    .vedios {
        grid-template-columns: repeat(5, 1fr); 
    }
}

@media (min-width: 1400px) {
    .vedios {
        grid-template-columns: repeat(6, 1fr); 
    }
}