.nav{
    display: flex;
    flex-direction: column;
    gap: 30px;

}



.header{
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 68px;
    flex-wrap: nowrap;
    padding: 0 60px;
    z-index: 2000;
}

.selects{
    height: 80%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.select{
    position: relative;
    background-color: var(--black-color);
    color: var(--white-color);
    height: auto;
    border: 1px solid var(--white-color);
    height: calc(25px);
    flex-wrap: nowrap;

}

.videos{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 45px 8px;
}

